 <!-- NAVBAR -->
    <nav id="nav" class="navbar">
        <span class="navbar-brand mb-0 h1">Burger Builder App</span>
    </nav>
    <!-- Center MAIN Section -->
    <center>
        <img src="../assets/img/burger.png">
        <h1>Eat-Da-Burger!</h1>
        <form>
                <input type="textarea" name="burger-description"><br><br>
                <input class="btn-primary" type="submit" value="Submit">
        </form>
        <p>Enter a burger you want to eat.  Then click the "submit" button.</p>
    </center>